html, body {
    height: 100%;
}

.my-nav-item {
    margin: 2px 1px;
    cursor: pointer;
}

.findUserLi {
    margin: 2px 0;
    cursor: pointer;
    font-size: 20px;
    border: #aeafb2 1px solid;
    border-radius: 1ex;
}

.uid-span {
    color: gray;
    font-size: 15px;
}

div#informationModal .row > div {
    display: flex;
    align-items: center;
    border-bottom: #aeafb2 1px solid;
    margin: 10px 0;
}

.my-row {
    display: flex;
    flex-direction: column;
}

div.friend-bubble {
    color: white;
    background-color: #28a745;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 1ex;
}

div.own-bubble {
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
    margin: 10px 0;
    text-align: end;
    border-radius: 1ex;
    align-self: flex-end;
}